.rounded-button {
    margin: 4px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: #0075DB;
    color: white;
    font-size: 1rem;

    height: 32px;
    min-width: 96px;
    border: none;
    border-radius: 16px;

    line-height: 1rem;
}

.rounded-button:hover {
    background-color: #1b7fd6;
    cursor: pointer;
}

.rounded-button:active {
    background-color: rgba(0, 88, 219, 0.596)
}

.rounded-button.danger {
    background-color: #FF444C;
}

.rounded-button.danger:hover {
    background-color: #fa6c73;
}

.rounded-button.danger:active {
    background-color: #ff000d;
}


.rounded-button>.icon {
    margin-right: 4px;
}